body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
    "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, "Courier New",
    monospace;
}

@font-face {
  font-family: Olondon;
  src: url("./old_london/Olondon_.otf");
}

.fa-spinner {
  font-size: 6em;
  position: absolute;
  left: 48%;
  top: 40%;
}

.header {
  color: black;
  font-family: Olondon;
  margin-bottom: 3%;
}

.header h1 {
  font-size: 3em;
}

.label--select--country {
  background-color:grey;
  color: white;
  padding: 6px 5px;
}

.select--country {
  width: 20%;
}

.buttons--render {
  margin-left: 31%;
}

.article--cards--list > .card {
  margin-top: 2%;
}
.article--cards--list > .card > .card-body > .card--img > .card-img-list {
  height: 470px;
}

.articles--headlines {
  background-color: grey;
  height: 100vh;
  overflow: scroll;
}

.card--articles--headlines {
  margin-left: 10%;
}


.card {
  width: 105%;
  margin-top: 20%;
  /* margin-left: 10%; */
  border-radius: 10px;
  box-shadow: 1px 1px 2px grey;
}

.card-img-list {
  height: 250px;
  width: 100%;
}